.container {
  max-width: 1000px;
  margin: auto; }
  @media screen and (max-width: 1000px) {
    .container {
      width: 100%; } }
  .container .mousedrag-stuff .box {
    width: 200px;
    border: 2px solid green;
    display: inline-block;
    margin: 10px;
    vertical-align: top; }
  .container .mousedrag-stuff .image-space {
    width: 200px;
    height: 225px; }
  .container .mouseUPDOWNLEFTRIGHT {
    border: 2px solid blue;
    overflow: hidden;
    max-width: 100%;
    position: relative; }
    .container .mouseUPDOWNLEFTRIGHT .direction-button {
      position: absolute;
      top: 50%;
      z-index: 100;
      transition: .5s all;
      padding: 10px;
      background-color: red; }
      .container .mouseUPDOWNLEFTRIGHT .direction-button--left {
        left: 0; }
      .container .mouseUPDOWNLEFTRIGHT .direction-button--right {
        right: 0; }
    .container .mouseUPDOWNLEFTRIGHT .image-box {
      display: inline-block;
      padding: 0 20px;
      border: 1px solid orange;
      margin: 10px; }
      .container .mouseUPDOWNLEFTRIGHT .image-box img {
        width: 120px;
        user-drag: none;
        user-select: none;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none; }
      .container .mouseUPDOWNLEFTRIGHT .image-box p {
        text-align: center; }
    .container .mouseUPDOWNLEFTRIGHT .image-container {
      position: relative;
      z-index: 1;
      width: 4490px;
      transform: translate3d(0px, 0px, 0);
      /*transition: .05s all;*/
      /*transition: .5s transform;*/
      user-select: none;
      /* Likely future */ }
